@font-face {
    font-family:"Schwifty" ;
    src: url("police/get_schwifty.ttf"); 
}

@font-face {
    font-family:"Cornichon" ;
    src: url("police/cornichon.ttf"); 
}

body{
    background-image: url('image/garage2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 86vh;
    overflow: hidden;
    background-color: #252525;
}


h1{
    font-size: 80px;
    text-shadow: 2px 2px rgb(221, 255, 0); 
    font-family: Schwifty;
    color: rgb(9, 251, 1);
    transition: all 300ms ease-in-out;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


h1:hover{
    transform: translate(0,-10px);
	text-shadow: 4px 4px rgb(0, 255, 0);
	color : rgb(255, 0, 242);
}

#bouton1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color : rgb(9, 251, 1);
	text-decoration: none;
	font-size: 2.5em;
	
	transition: all 300ms ease-in-out;
    width: 250px;
    height: 50px;
	border-radius: 10px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 707px){
    h1{
    font-size: 35px;
    text-shadow: 2px 2px rgb(221, 255, 0); 
    }

    #bouton1{
        width: 200px;
        height: 40px;
        font-size: 2em;
        text-shadow: 2px 2px rgb(6, 5, 5),
    }

}

#bouton1:hover{

	color : rgb(255, 85, 246);
}

#button{
    display: flex;
    justify-content: center;
}